@model PresupuestosUX.Models.FACTURA_PROVEEDOR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FACTURA_PROVEEDOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PROVEEDORES.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDORES.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESC_FACTURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_FACTURA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOLIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOLIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
